/**
 *   Template: video-news
 */

@import "../../core/variables";

#page-channel-show[data-subpage="video-list"][data-template='video-news'] {
    overflow-y: scroll; overflow-x: hidden; padding: 30px 20px;
  * {margin: 0; padding: 0;}
  .video_block {display:inline-block; vertical-align: top;position: relative; width: 100%;padding: 10px 0;overflow-x:hidden;}
  .video_thumb {width: 100%; height: 200px;overflow: hidden;background-position: center center; background-size: 100% auto; background-repeat: no-repeat;}
  .video_text {width: 100%; padding: 10px 0 0 0;}
  .video_name {width: 100%; line-height: normal; font-size: 1.2em;color: $color-text;padding: 5px 0;}
  .video_desc {color: $color-text-secondary;height: 60px; overflow: hidden;line-height: 20px;}
  @media screen and (orientation: landscape) {
    
     vertical-align: top;
    .video_thumb {display: inline-block; width: 50%;vertical-align: middle; margin: 0 5% 0 0}
    .video_text {display: inline-block; width: 45%;height: auto;vertical-align: middle;}
    .video_name {height: 40%}
    .video_desc {height: 60%;max-height: none;}
   
  }
  &.tablet {
    .video_block {
      width: 45%; margin: 10px 2.5%;
      &:first-child {
        width: 100%;margin: 10px 0;
        .video_thumb {height: 400px;}
        }
      }
    @media screen and (orientation: landscape) {
      .video_block {
        width: 100%; margin: 10px 0;
          &:first-child .video_thumb {height: 200px;}
        }
      .video_thumb {width: 40%;vertical-align: middle;}
      .video_thumb {width: 40%;vertical-align: middle;}
    }
  }
}


/**
 *  Subpage: video-show
 *  Template: video-news
 */

#page-channel-show {
  &[data-subpage="show-video"][data-template='video-news'] {
      width: 100%; height: 100%; height: calc(100% - #{$menu-top-header-height});
      #current_video {border-bottom: 1px solid $color-gray;}
      .video_texts {
        margin: 20px;overflow:hidden;
       }
      #video_name {color: $color-text; font-size: 1.2em;margin-top: 0;}
      #video_desc {color: $color-text-secondary; margin: 0;font-size: 1em;}
      
      
      #similar_videos {
        padding: 0 20px; vertical-align: middle; 
        .video_div {display: block; position: relative; z-index: 0; vertical-align: middle;padding: 20px 0 0 0;clear: both;overflow: hidden; max-height: 100px;}
      }
       
      .similar_thumb {
        display: inline-block; position: relative; z-index: 1; vertical-align: top; width: 40%; margin: 0 5% 0 0;
        img {width: 100%;}
      }
      .similar_texts {
        display: inline-block; position: relative; z-index: 1; vertical-align: top; width: 55%; 
      }
      .similar_name {margin: 0 0 2% 0;font-size: 0.8em;color: $color-text;}
      .similar_desc {margin: 0; font-size: 0.8em;line-height: 1.2em;color: $color-text-secondary;}
    &.tablet {
       #current_video {height: 50%;overflow:hidden;}
       #similar_videos {
         height: 50%;overflow-x: hidden; overflow-y: scroll;
         .video_div{max-height: 150px;}
         }
      .similar_thumb {width: 30%}
      .similar_texts {width: 65%}
      .similar_name {font-size: 1.2em;}
      .similar_desc {font-size: 1em;}
      
    }
    @media screen and (orientation: landscape) {
      &.mobile {
        #current_video {display: block; position: fixed; left: 0; right: 0; top: 0; bottom: 0;width: 100%; height: 100%; z-index: 10;}
        .video_texts {display: none;}
        #similar_videos {display: none;}
      }
      &.tablet {
          #current_video {display: inline-block; position: fixed; top: $menu-top-header-height; bottom: 0; left: 0; right: 40%; height:100%; z-index: 5; border-right: 1px solid $color-gray;background: $color-background;}
          #similar_videos {display: inline-block; position: relative;vertical-align: top;  width: 40%; height:100%; margin-left: 60%; max-height: 100%; overflow-x: hidden;overflow-y: scroll;}
          .similar_texts {vertical-align: middle;}
          .similar_name {font-size: 0.8em;}
          .similar_desc {display:none;font-size: 0.8em;}
        }
    }
  
  }
}
