/** Template: video-news */
#page-channel-show[data-subpage="video-list"][data-template='video-news'] { overflow-y: scroll; overflow-x: hidden; padding: 30px 20px; }
#page-channel-show[data-subpage="video-list"][data-template='video-news'] * { margin: 0; padding: 0; }
#page-channel-show[data-subpage="video-list"][data-template='video-news'] .video_block { display: inline-block; vertical-align: top; position: relative; width: 100%; padding: 10px 0; overflow-x: hidden; }
#page-channel-show[data-subpage="video-list"][data-template='video-news'] .video_thumb { width: 100%; height: 200px; overflow: hidden; background-position: center center; background-size: 100% auto; background-repeat: no-repeat; }
#page-channel-show[data-subpage="video-list"][data-template='video-news'] .video_text { width: 100%; padding: 10px 0 0 0; }
#page-channel-show[data-subpage="video-list"][data-template='video-news'] .video_name { width: 100%; line-height: normal; font-size: 1.2em; color: #616161; padding: 5px 0; }
#page-channel-show[data-subpage="video-list"][data-template='video-news'] .video_desc { color: #9e9e9e; height: 60px; overflow: hidden; line-height: 20px; }
@media screen and (orientation: landscape) { #page-channel-show[data-subpage="video-list"][data-template='video-news'] { vertical-align: top; }
  #page-channel-show[data-subpage="video-list"][data-template='video-news'] .video_thumb { display: inline-block; width: 50%; vertical-align: middle; margin: 0 5% 0 0; }
  #page-channel-show[data-subpage="video-list"][data-template='video-news'] .video_text { display: inline-block; width: 45%; height: auto; vertical-align: middle; }
  #page-channel-show[data-subpage="video-list"][data-template='video-news'] .video_name { height: 40%; }
  #page-channel-show[data-subpage="video-list"][data-template='video-news'] .video_desc { height: 60%; max-height: none; } }
#page-channel-show[data-subpage="video-list"][data-template='video-news'].tablet .video_block { width: 45%; margin: 10px 2.5%; }
#page-channel-show[data-subpage="video-list"][data-template='video-news'].tablet .video_block:first-child { width: 100%; margin: 10px 0; }
#page-channel-show[data-subpage="video-list"][data-template='video-news'].tablet .video_block:first-child .video_thumb { height: 400px; }
@media screen and (orientation: landscape) { #page-channel-show[data-subpage="video-list"][data-template='video-news'].tablet .video_block { width: 100%; margin: 10px 0; }
  #page-channel-show[data-subpage="video-list"][data-template='video-news'].tablet .video_block:first-child .video_thumb { height: 200px; }
  #page-channel-show[data-subpage="video-list"][data-template='video-news'].tablet .video_thumb { width: 40%; vertical-align: middle; }
  #page-channel-show[data-subpage="video-list"][data-template='video-news'].tablet .video_thumb { width: 40%; vertical-align: middle; } }

/** Subpage: video-show Template: video-news */
#page-channel-show[data-subpage="show-video"][data-template='video-news'] { width: 100%; height: 100%; height: calc(100% - 50px); }
#page-channel-show[data-subpage="show-video"][data-template='video-news'] #current_video { border-bottom: 1px solid #434a54; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'] .video_texts { margin: 20px; overflow: hidden; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'] #video_name { color: #616161; font-size: 1.2em; margin-top: 0; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'] #video_desc { color: #9e9e9e; margin: 0; font-size: 1em; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'] #similar_videos { padding: 0 20px; vertical-align: middle; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'] #similar_videos .video_div { display: block; position: relative; z-index: 0; vertical-align: middle; padding: 20px 0 0 0; clear: both; overflow: hidden; max-height: 100px; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'] .similar_thumb { display: inline-block; position: relative; z-index: 1; vertical-align: top; width: 40%; margin: 0 5% 0 0; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'] .similar_thumb img { width: 100%; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'] .similar_texts { display: inline-block; position: relative; z-index: 1; vertical-align: top; width: 55%; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'] .similar_name { margin: 0 0 2% 0; font-size: 0.8em; color: #616161; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'] .similar_desc { margin: 0; font-size: 0.8em; line-height: 1.2em; color: #9e9e9e; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'].tablet #current_video { height: 50%; overflow: hidden; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'].tablet #similar_videos { height: 50%; overflow-x: hidden; overflow-y: scroll; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'].tablet #similar_videos .video_div { max-height: 150px; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'].tablet .similar_thumb { width: 30%; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'].tablet .similar_texts { width: 65%; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'].tablet .similar_name { font-size: 1.2em; }
#page-channel-show[data-subpage="show-video"][data-template='video-news'].tablet .similar_desc { font-size: 1em; }
@media screen and (orientation: landscape) { #page-channel-show[data-subpage="show-video"][data-template='video-news'].mobile #current_video { display: block; position: fixed; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; z-index: 10; }
  #page-channel-show[data-subpage="show-video"][data-template='video-news'].mobile .video_texts { display: none; }
  #page-channel-show[data-subpage="show-video"][data-template='video-news'].mobile #similar_videos { display: none; }
  #page-channel-show[data-subpage="show-video"][data-template='video-news'].tablet #current_video { display: inline-block; position: fixed; top: 50px; bottom: 0; left: 0; right: 40%; height: 100%; z-index: 5; border-right: 1px solid #434a54; background: #ffffff; }
  #page-channel-show[data-subpage="show-video"][data-template='video-news'].tablet #similar_videos { display: inline-block; position: relative; vertical-align: top; width: 40%; height: 100%; margin-left: 60%; max-height: 100%; overflow-x: hidden; overflow-y: scroll; }
  #page-channel-show[data-subpage="show-video"][data-template='video-news'].tablet .similar_texts { vertical-align: middle; }
  #page-channel-show[data-subpage="show-video"][data-template='video-news'].tablet .similar_name { font-size: 0.8em; }
  #page-channel-show[data-subpage="show-video"][data-template='video-news'].tablet .similar_desc { display: none; font-size: 0.8em; } }

/*# sourceMappingURL=style.css.map */
