//  ================== 
//  = General styles = 
//  ================== 

$color-text: #616161;
$color-text-secondary: #9e9e9e;
$color-text-active: #0086cf;
$color-text-black: #d7d7d7;
$color-text-white: #ffffff;

$color-background: #ffffff;
$color-background-secondary:#f8f8f8;
$color-background-black: #1d1d1d;


$color-primary: #20b11d;
$color-orange: #fb6721;
$color-blue: #0086cf;
$color-bluegray: #86adc2;
$color-blueshade: #85adc3;
$color-gray: #434a54;
$color-light-gray: #e0e0e0;
$color-icon: #aab2bd;

$color-white: #ffffff;
$color-green: #8dc153;
$color-yellow: #ffc330;
$color-gold: #DA932C;
$color-purple: #967bdc; // or 967ed9
$color-pink: #d870ad;
$color-red: #ed5564;
$color-black: #000000;

$menu-top-header-height: 50px;
$menu-left-width: 70%;
