/**
 *   Template: one-show
 */
@import "../../core/variables";

#page-channel-show[data-subpage="video-list"][data-template="one-show"]  {
  color: $color-text-black; background: $color-background-black;
  
  .video_details{display:block;position:relative;z-index:1;width:100%;height:65%;padding:10px;line-height: 1em;}
  .video_texts{ display:inline-block;vertical-align:top;width:50%;height:100%;overflow-y:scroll;overflow-x:hidden;padding:10px;}
  .video_name{
    height:40%;margin:0;padding:0 10px;font-size:1em;line-height:normal;border:solid $color-gray 0.04em;overflow:hidden;width:100%;
    .fa{color:$color-blueshade;border-radius:0.2em;padding:0.2em;background:$color-light-gray;margin:auto 0.5em auto 0;font-size:0.8em;line-height:normal;transition:2s color ease;}
    .favorite{color:$color-primary;}
    }
  .video_about{color:$color-green;padding:2px 5px;border-radius:0.2em;background:$color-background-secondary;font-size:0.8em;transition:2s color ease;}
  #video_image{
    position:relative;z-index:1;display:inline-block;vertical-align:top;width:45%;height:100%;background: transparent center no-repeat;background-size: contain;
    }
  
  #video_description{font-size:0.8em;overflow-y:scroll;overflow-x:auto;line-height: 1em;}
  
  #video_play{
    display:block;position:absolute;z-index:2;top:0;bottom:0;left:0;right:0;
    .fa{position:absolute;display:inline-block;z-index:2;font-size:5em;height:1em;line-height:1em;color:$color-primary;margin:-0.5em -0.5em;top:50%;left:50%;}
  } 
  
  @media screen and (orientation:portrait){
    .video_details{
      height:55%;
      .video_texts,
      #video_image{
        display:block;width:100%;height:50%;text-align:center;
      }
    }
  }
  
  /**
   *   Page one-show
   */
  .shows_inner{display:block;vertical-align:top;position:relative;width:100%;height:35%;overflow:hidden;}
  
  #eposides{
    display:block;vertical-align:top;position:relative;z-index:1;height:100%;width:100%;overflow:hidden;
    .video_row{display:inline-block;position:relative;vertical-align:top;height:100%;}
    
    .video{ display:inline-block;position:relative;vertical-align:top;height:100%;width:20%;}
    .video_inner{ display:inline-block;position:relative;height:90%;width:90%;border:solid 1px $color-background-secondary;overflow:hidden;}
    .video_title{text-align:center;color:$color-green;font-size:0.7em;line-height:1em;font-weight:bold;margin:5%;text-decoration:none;overflow:hidden;}
    .video_poster{display:block;position:relative;z-index:1;height:70%;width:100%;background-color:transparent;background-image:none;background-repeat:no-repeat;background-size:100% auto;background-position:center;}
    
  }
  
  @media screen and (orientation:portrait){
    .shows_inner{height:45%;}
    #eposides {
      .video{height:33%;}
      .video_title{display:none;}
      .video_poster{height:100%;}
    }
  }
}