/** Template: one-show */
#page-channel-show[data-subpage="video-list"][data-template="one-show"] { color: #d7d7d7; background: #1d1d1d; /** Page one-show */ }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] .video_details { display: block; position: relative; z-index: 1; width: 100%; height: 65%; padding: 10px; line-height: 1em; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] .video_texts { display: inline-block; vertical-align: top; width: 50%; height: 100%; overflow-y: scroll; overflow-x: hidden; padding: 10px; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] .video_name { height: 40%; margin: 0; padding: 0 10px; font-size: 1em; line-height: normal; border: solid #434a54 0.04em; overflow: hidden; width: 100%; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] .video_name .fa { color: #85adc3; border-radius: 0.2em; padding: 0.2em; background: #e0e0e0; margin: auto 0.5em auto 0; font-size: 0.8em; line-height: normal; transition: 2s color ease; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] .video_name .favorite { color: #20b11d; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] .video_about { color: #8dc153; padding: 2px 5px; border-radius: 0.2em; background: #f8f8f8; font-size: 0.8em; transition: 2s color ease; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] #video_image { position: relative; z-index: 1; display: inline-block; vertical-align: top; width: 45%; height: 100%; background: transparent center no-repeat; background-size: contain; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] #video_description { font-size: 0.8em; overflow-y: scroll; overflow-x: auto; line-height: 1em; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] #video_play { display: block; position: absolute; z-index: 2; top: 0; bottom: 0; left: 0; right: 0; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] #video_play .fa { position: absolute; display: inline-block; z-index: 2; font-size: 5em; height: 1em; line-height: 1em; color: #20b11d; margin: -0.5em -0.5em; top: 50%; left: 50%; }
@media screen and (orientation: portrait) { #page-channel-show[data-subpage="video-list"][data-template="one-show"] .video_details { height: 55%; }
  #page-channel-show[data-subpage="video-list"][data-template="one-show"] .video_details .video_texts, #page-channel-show[data-subpage="video-list"][data-template="one-show"] .video_details #video_image { display: block; width: 100%; height: 50%; text-align: center; } }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] .shows_inner { display: block; vertical-align: top; position: relative; width: 100%; height: 35%; overflow: hidden; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] #eposides { display: block; vertical-align: top; position: relative; z-index: 1; height: 100%; width: 100%; overflow: hidden; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] #eposides .video_row { display: inline-block; position: relative; vertical-align: top; height: 100%; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] #eposides .video { display: inline-block; position: relative; vertical-align: top; height: 100%; width: 20%; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] #eposides .video_inner { display: inline-block; position: relative; height: 90%; width: 90%; border: solid 1px #f8f8f8; overflow: hidden; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] #eposides .video_title { text-align: center; color: #8dc153; font-size: 0.7em; line-height: 1em; font-weight: bold; margin: 5%; text-decoration: none; overflow: hidden; }
#page-channel-show[data-subpage="video-list"][data-template="one-show"] #eposides .video_poster { display: block; position: relative; z-index: 1; height: 70%; width: 100%; background-color: transparent; background-image: none; background-repeat: no-repeat; background-size: 100% auto; background-position: center; }
@media screen and (orientation: portrait) { #page-channel-show[data-subpage="video-list"][data-template="one-show"] .shows_inner { height: 45%; }
  #page-channel-show[data-subpage="video-list"][data-template="one-show"] #eposides .video { height: 33%; }
  #page-channel-show[data-subpage="video-list"][data-template="one-show"] #eposides .video_title { display: none; }
  #page-channel-show[data-subpage="video-list"][data-template="one-show"] #eposides .video_poster { height: 100%; } }

/*# sourceMappingURL=style.css.map */
