/** Template: banners-show */
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] { color: #d7d7d7; background: #1d1d1d; /** Page one-show */ }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] .video_details { display: block; position: relative; z-index: 1; width: 100%; height: 65%; padding: 10px; line-height: 1em; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] .video_texts { display: inline-block; vertical-align: top; width: 50%; height: 100%; overflow-y: scroll; overflow-x: hidden; padding: 10px; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] .video_name { height: 40%; margin: 0; padding: 0 10px; font-size: 1em; line-height: normal; border: solid #434a54 0.04em; overflow: hidden; width: 100%; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] .video_name .fa { color: #85adc3; border-radius: 0.2em; padding: 0.2em; background: #e0e0e0; margin: auto 0.5em auto 0; font-size: 0.8em; line-height: normal; transition: 2s color ease; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] .video_name .favorite { color: #20b11d; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] .video_about { color: #8dc153; padding: 2px 5px; border-radius: 0.2em; background: #f8f8f8; font-size: 0.8em; transition: 2s color ease; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] #video_image { position: relative; z-index: 1; display: inline-block; vertical-align: top; width: 45%; height: 100%; background: transparent center no-repeat; background-size: contain; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] #video_description { font-size: 0.8em; overflow-y: scroll; overflow-x: auto; line-height: 1em; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] #video_play { display: block; position: absolute; z-index: 2; top: 0; bottom: 0; left: 0; right: 0; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] #video_play .fa { position: absolute; display: inline-block; z-index: 2; font-size: 5em; height: 1em; line-height: 1em; color: #20b11d; margin: -0.5em -0.5em; top: 50%; left: 50%; }
@media screen and (orientation: portrait) { #page-channel-show[data-subpage="video-list"][data-template="banner-show"] .video_details { height: 55%; }
  #page-channel-show[data-subpage="video-list"][data-template="banner-show"] .video_details .video_texts, #page-channel-show[data-subpage="video-list"][data-template="banner-show"] .video_details #video_image { display: block; width: 100%; height: 50%; text-align: center; } }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] .shows_inner { display: block; vertical-align: top; position: relative; width: 100%; height: 35%; overflow-x: auto; -ms-overflow-x: auto; overflow-y: hidden; -ms-overflow-y: hidden; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] #eposides { display: block; vertical-align: top; position: relative; z-index: 1; height: 100%; width: auto; overflow-x: auto; -ms-overflow-x: auto; overflow-y: hidden; -ms-overflow-y: hidden; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] #eposides .video_row { display: inline-block; position: relative; vertical-align: top; height: 100%; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] #eposides .video { display: inline-block; position: relative; vertical-align: top; height: 100%; width: 20%; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] #eposides .video_inner { display: inline-block; position: relative; height: 90%; width: 90%; border: solid 1px #f8f8f8; overflow: hidden; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] #eposides .video_title { text-align: center; color: #8dc153; font-size: 0.7em; line-height: 1em; font-weight: bold; margin: 5%; text-decoration: none; overflow: hidden; }
#page-channel-show[data-subpage="video-list"][data-template="banner-show"] #eposides .video_poster { display: block; position: relative; z-index: 1; height: 70%; width: 100%; background-color: transparent; background-image: none; background-repeat: no-repeat; background-size: 100% auto; background-position: center; }
@media screen and (orientation: portrait) { #page-channel-show[data-subpage="video-list"][data-template="banner-show"] .shows_inner { height: 45%; }
  #page-channel-show[data-subpage="video-list"][data-template="banner-show"] #eposides .video { height: 33%; }
  #page-channel-show[data-subpage="video-list"][data-template="banner-show"] #eposides .video_title { display: none; }
  #page-channel-show[data-subpage="video-list"][data-template="banner-show"] #eposides .video_poster { height: 100%; } }

/** Subpage: galleries-list Template: banners-show */
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] { color: #d7d7d7; background: #1d1d1d; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider { display: block; position: relative; z-index: 1; background: #1d1d1d; height: 60%; width: 100%; overflow: hidden; border-bottom: solid 1px #f8f8f8; box-shadow: 1px 5% 5% #000000; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider .slider_buttons { display: block; position: absolute; z-index: 2; bottom: 5%; text-align: center; width: 100%; padding: 0; margin: 0; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider .slider_buttons li { content: ' '; display: inline-block; list-style: none; width: 10px; height: 10px; background: #434a54; margin: 0 5px; box-shadow: inset 0 0 0 2px #000000; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 5px; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider .slider_buttons li.current { background: #ffffff; box-shadow: none; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider_items { display: block; z-index: 1; position: relative; height: 100%; width: 9999px; background: #1d1d1d; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider_items .video { position: relative; z-index: 2; display: inline-block; width: 100%; height: 100%; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider_items .video .video_poster { display: block; position: absolute; top: 0; right: 0; left: 0; bottom: 0; background-color: transparent; background-image: none; background-repeat: no-repeat; background-size: contain; background-position: center; height: 100%; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider_items .video .video_title { display: inline-block; position: absolute; right: 0; top: 50%; margin-top: -48px; background: rgba(0, 0, 0, 0.5); padding: 5px 10px; border-radius: 5px; line-height: 1em; overflow: hidden; max-width: 50%; padding: 1em; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider_items .video_play { display: block; position: absolute; z-index: 3; height: 10%; width: 10%; top: 50%; right: 10px; background: #ed5564; border-radius: 5px; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider_items .video_play .play_current_video { position: absolute; background: #ffffff; top: 5px; right: 5px; bottom: 5px; left: 5px; border-radius: 50%; color: #ed5564; text-align: center; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider_items .video_play .play_current_video .fa { vertical-align: top; }
@media screen and (orientation: portrait) { #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider { height: 60%; }
  #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider .slider_buttons { bottom: 25%; }
  #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider .video { height: 100%; }
  #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider .video .video_poster { height: 80%; }
  #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider .video .video_title { display: block; width: 100%; max-width: 100%; top: auto; bottom: 0; left: auto; right: auto; margin: 0; min-height: 20%; background: url("../res/binding_dark.png") repeat transparent; }
  #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #slider .video_play { top: auto; left: auto; bottom: 1em; right: 1em; }
  #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"].tablet #slider .video_play { bottom: 2em; right: 2em; } }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] .additiona_info { display: none; position: relative; z-index: 1; height: 5%; width: 100%; overflow: hidden; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] .additiona_info .additional_inner { display: table; position: absolute; top: 10%; bottom: 10%; right: 5%; left: 5%; width: 90%; height: 80%; border-collapse: collapse; border: solid 1px #f8f8f8; background: url("../res/binding_dark.png") repeat #434a54; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] .additiona_info p { display: table-cell; vertical-align: middle; text-align: center; padding: 0 30px; text-transform: uppercase; margin: 0; width: 100%; border-collapse: collapse; font-size: 0.6em; }
@media screen and (orientation: landscape) { #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] .additiona_info { display: block; } }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] .playlist_inner { display: block; vertical-align: top; position: relative; height: 35%; width: 100%; overflow-x: auto; -ms-overflow-x: auto; overflow-y: hidden; -ms-overflow-y: hidden; background: url("../res/binding_dark.png") repeat transparent; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #playlist { display: block; vertical-align: top; position: relative; z-index: 1; height: 100%; width: auto; overflow-x: auto; -ms-overflow-x: auto; overflow-y: hidden; -ms-overflow-y: hidden; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #playlist:before { content: ' '; position: absolute; z-index: 2; box-shadow: 0 0 3em 1em rgba(0, 0, 0, 0.7); width: 0; height: 100%; top: 0; bottom: 0; left: 0; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #playlist:after { content: ' '; position: absolute; z-index: 2; box-shadow: 0 0 3em 1em rgba(0, 0, 0, 0.7); width: 0; height: 100%; top: 0; bottom: 0; right: 0; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #playlist .video_row { height: 100%; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #playlist .video { display: inline-block; position: relative; vertical-align: top; height: 100%; width: 20%; text-align: center; background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 0) 98%, white 100%); }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #playlist .video .video_inner { display: inline-block; position: relative; height: 90%; width: 100%; overflow: hidden; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #playlist .video .video_poster { display: block; position: relative; z-index: 1; height: 70%; width: 90%; margin: 0 auto; background-color: transparent; background-image: none; background-repeat: no-repeat; background-position: center; background-size: 100% auto; }
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #playlist .video .video_title { text-align: center; color: #20b11d; font-size: 0.8em; font-weight: bold; margin: 0; text-decoration: none; overflow: hidden; }
@media screen and (orientation: portrait) { #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] .playlist_inner { height: 50%; padding: 0; z-index: 5; }
  #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #playlist .video { height: 33%; border-left: none; padding-top: 2%; background: -webkit-linear-gradient(center 70%, circle, white, rgba(255, 255, 255, 0) 50%); }
  #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #playlist .video .video_row { display: inline-block; position: relative; vertical-align: top; }
  #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #playlist .video .video_row .video_poster { height: 100%; }
  #page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] #playlist .video .video_row .video_title { display: none; } }

/*# sourceMappingURL=style.css.map */
