/**
 *   Template: banners-show
 */

@import "../../core/variables";

#page-channel-show[data-subpage="video-list"][data-template="banner-show"] {
  color: $color-text-black; background: $color-background-black;
  
 .video_details{display:block;position:relative;z-index:1;width:100%;height:65%;padding:10px;line-height: 1em;}
  .video_texts{ display:inline-block;vertical-align:top;width:50%;height:100%;overflow-y:scroll;overflow-x:hidden;padding:10px;}
  .video_name{
    height:40%;margin:0;padding:0 10px;font-size:1em;line-height:normal;border:solid $color-gray 0.04em;overflow:hidden;width:100%;
    .fa{color:$color-blueshade;border-radius:0.2em;padding:0.2em;background:$color-light-gray;margin:auto 0.5em auto 0;font-size:0.8em;line-height:normal;transition:2s color ease;}
    .favorite{color:$color-primary;}
    }
  .video_about{color:$color-green;padding:2px 5px;border-radius:0.2em;background:$color-background-secondary;font-size:0.8em;transition:2s color ease;}
  #video_image{
    position:relative;z-index:1;display:inline-block;vertical-align:top;width:45%;height:100%;background: transparent center no-repeat;background-size: contain;
    }
  
  #video_description{font-size:0.8em;overflow-y:scroll;overflow-x:auto;line-height: 1em;}
  
  #video_play{
    display:block;position:absolute;z-index:2;top:0;bottom:0;left:0;right:0;
    .fa{position:absolute;display:inline-block;z-index:2;font-size:5em;height:1em;line-height:1em;color:$color-primary;margin:-0.5em -0.5em;top:50%;left:50%;}
  }
  
  @media screen and (orientation:portrait){
    .video_details{
      height:55%;
      .video_texts,
      #video_image{
        display:block;width:100%;height:50%;text-align:center;
      }
    }
  }
  
  /**
   *   Page one-show
   */
  .shows_inner{display:block;vertical-align:top;position:relative;width:100%;height:35%;overflow-x:auto;-ms-overflow-x:auto;overflow-y:hidden;-ms-overflow-y:hidden;}
  
  #eposides{
    display:block;vertical-align:top;position:relative;z-index:1;height:100%;width:auto;overflow-x:auto;-ms-overflow-x:auto;overflow-y:hidden;-ms-overflow-y:hidden;
    .video_row{display:inline-block;position:relative;vertical-align:top;height:100%;}
    
    .video{ display:inline-block;position:relative;vertical-align:top;height:100%;width:20%;}
    .video_inner{ display:inline-block;position:relative;height:90%;width:90%;border:solid 1px $color-background-secondary;overflow:hidden;}
    .video_title{text-align:center;color:$color-green;font-size:0.7em;line-height:1em;font-weight:bold;margin:5%;text-decoration:none;overflow:hidden;}
    .video_poster{display:block;position:relative;z-index:1;height:70%;width:100%;background-color:transparent;background-image:none;background-repeat:no-repeat;background-size:100% auto;background-position:center;}
    
  }
  
  @media screen and (orientation:portrait){
    .shows_inner{height:45%;}
    #eposides {
      .video{height:33%;}
      .video_title{display:none;}
      .video_poster{height:100%;}
    }
  }
}
/**
 *  Subpage: galleries-list
 *  Template: banners-show
 */
#page-channel-show[data-template="banner-show"][data-subpage="galleries-list"] { 
  color: $color-text-black; background: $color-background-black;
  
  #slider{
    display:block;position:relative;z-index:1;background:$color-background-black;height:60%;width:100%;overflow:hidden;border-bottom:solid 1px $color-background-secondary;box-shadow:1px 5% 5% $color-black;
    .slider_buttons{
      display:block;position:absolute;z-index:2;bottom:5%;text-align:center;width:100%;padding:0;margin:0;
      li{
        content:' ';display:inline-block;list-style:none;width:10px;height:10px;background:$color-gray;margin:0 5px;box-shadow:inset 0 0 0 2px $color-black;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:5px;
        &.current {background:$color-white;box-shadow:none;}
        }
      }
  }
  
  #slider_items{
    display:block;z-index:1;position:relative;height:100%;width:9999px;background:$color-background-black;
    .video{
        position:relative;z-index:2;display:inline-block;width:100%;height:100%;
        .video_poster {display:block;position:absolute;top:0;right:0;left:0;bottom:0;background-color:transparent;background-image:none;background-repeat:no-repeat;background-size:contain;background-position:center;height:100%;}
        .video_title{display:inline-block;position:absolute;right:0;top:50%;margin-top:-48px;background:rgba(0,0,0,0.5);padding:5px 10px;border-radius:5px;line-height:1em;overflow:hidden;max-width:50%;padding:1em;}
      }
    .video_play{
      display:block;position:absolute;z-index:3;height:10%;width:10%;top:50%;right:10px;background:$color-red;border-radius:5px;
      .play_current_video{
        position:absolute;background:$color-white;top:5px;right:5px;bottom:5px;left:5px;border-radius:50%;color:$color-red;text-align:center;
        .fa {vertical-align: top;}
        }
    }
  }
  
  @media screen and (orientation:portrait){
    
    #slider{
      height:60%;
      .slider_buttons{bottom:25%;}
      .video{ 
        height:100%;
        .video_poster{height:80%;}
        .video_title{display:block;width:100%;max-width:100%;top:auto;bottom:0;left:auto;right:auto;margin:0;min-height:20%;background:url('../res/binding_dark.png') repeat transparent;}
      }
      .video_play{
        top:auto;left:auto;bottom:1em;right:1em;
      }
    }
    &.tablet {
      #slider {
        .video_play{
          bottom:2em;right:2em;
        }
      }
    }
   }
  
  .additiona_info{
    display:none;position:relative;z-index:1;height:5%;width:100%;overflow:hidden;
    .additional_inner{display:table;position:absolute;top:10%;bottom:10%;right:5%;left:5%;width:90%;height:80%;border-collapse:collapse;border:solid 1px $color-background-secondary;background:url('../res/binding_dark.png') repeat $color-gray;}
    p{display:table-cell;vertical-align:middle;text-align:center;padding:0 30px;text-transform:uppercase;margin:0;width:100%;border-collapse:collapse;font-size:0.6em;}
  } 
  
  @media screen and (orientation:landscape){
    .additiona_info{display:block;}
  }
  
  .playlist_inner{display:block;vertical-align:top;position:relative;height:35%;width:100%;overflow-x:auto;-ms-overflow-x:auto;overflow-y:hidden;-ms-overflow-y:hidden;background:url('../res/binding_dark.png') repeat transparent;}
  
  #playlist{
    display:block;vertical-align:top;position:relative;z-index:1;height:100%;width:auto;overflow-x:auto;-ms-overflow-x:auto;overflow-y:hidden;-ms-overflow-y:hidden;
    &:before{content:' ';position:absolute;z-index:2;box-shadow:0 0 3em 1em rgba(0,0,0,0.7);width:0;height:100%;top:0;bottom:0;left:0;}
    &:after{content:' ';position:absolute;z-index:2;box-shadow:0 0 3em 1em rgba(0,0,0,0.7);width:0;height:100%;top:0;bottom:0;right:0;}
    .video_row{height:100%;}
    .video{
      display:inline-block;position:relative;vertical-align:top;height:100%;width:20%;text-align:center;background:-webkit-linear-gradient(left,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 98%,rgba(255,255,255,1) 100%);
      .video_inner{display:inline-block;position:relative;height:90%;width:100%;overflow:hidden;}
      .video_poster{display:block;position:relative;z-index:1;height:70%;width:90%;margin: 0 auto;background-color:transparent;background-image:none;background-repeat:no-repeat;background-position:center;background-size:100% auto;}
      .video_title{text-align:center;color:$color-primary;font-size:0.8em;font-weight:bold;margin:0;text-decoration:none;overflow:hidden;}
    }
  }
  
  @media screen and (orientation:portrait){
    .playlist_inner{height:50%;padding:0;z-index:5;}
    #playlist{
    .video{
      height:33%;border-left:none;padding-top:2%;background:-webkit-linear-gradient(center 70%,circle,rgba(255,255,255,1),rgba(255,255,255,0) 50%);
      .video_row{
        display:inline-block;position:relative;vertical-align:top;
        .video_poster{height:100%;}
        .video_title{display:none;}} 
      }
    }
  }
}